<link rel="stylesheet" type="text/css" href="static/css/Huploadify.css"/>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/jquery.Huploadify.js"></script>
<style type="text/css">
</style>
<script type="text/javascript">
    $(function(){
        layui.use(['config'], function () {
            var config = layui.config;
            var token = config.getToken().access_token;
            var userId = config.getToken().user.id;
            var up = $('#upload').Huploadify({
                auto:false,
                fileTypeExts:'*.txt;*.jpg;*.png;*.avi;*.rar;*.exe;*.mp3;*.mp4;*.zip;*.doc;*.docx;*.ppt;*.pptx;*.xls;*.xlsx;*.pdf;*.md',
                multi:true,
                authorization: token, // token
                userId: userId, //用户id
                breakPoints:true,
                saveInfoLocal:false,
                showUploadedPercent:true,//是否实时显示上传的百分比，如20%
                showUploadedSize:true,
                fileSizeLimit: 2048 * 1024,
                fileSplitSize: 5 * 1024 * 1024,
                removeTimeout:2000,
                uploader:'http://localhost/f/upload',
                getUploadedSize:function(file){
                    var
                        data = {
                            fileSize: file.size,
                            lastModifiedDate: file.lastModifiedDate.getTime()
                        };
                    var url = 'http://localhost/f/getUploadSize';
                    var uploadedSize = 0;
                    $.ajax({
                        url : url,
                        data : data,
                        async : false,
                        type : 'get',
                        dataType: 'json',
                        headers: {
                            'Authorization': token
                        },
                        success : function(returnData){
                            uploadedSize = returnData;
                        }
                    });
                    return uploadedSize;
                },
                saveUploadedSize:function(file, value){
                //     var
                //         data = {
                //             uploadSize: value,
                //             fileSize: file.size,
                //             lastModifiedDate: file.lastModifiedDate.getTime()
                //         };
                //     var url = 'http://localhost/f/saveUploadSize';
                //     $.ajax({
                //         url : url,
                //         data : data,
                //         async : false,
                //         type : 'get',
                //         dataType: 'json',
                //         headers: {
                //             'Authorization': token
                //         },
                //         success : function(returnData){
                //
                //         }
                //     });
                //
                //     console.log(file, value, '已经上传的大小');
                },
                onUploadStart:function(file){
                    console.log(file, file.name+'开始上传');
                },
                onInit:function(obj){
                },
                onUploadSuccess:function(file){
                    console.log(file, file.name+'上传成功');
                },
                onUploadComplete:function(file){
                    console.log(file, file.name+'上传完成');
                },
                onCancel:function(file){
                    console.log(file.name+'删除成功');
                },
                onClearQueue:function(queueItemCount){
                    console.log('有'+queueItemCount+'个文件被删除了');
                },
                onDestroy:function(){
                    console.log('destroyed!');
                },
                onSelect:function(file){
                    // console.log(file, file.name+'加入上传队列');
                },
                onQueueComplete:function(queueData){
                    console.log('队列中的文件全部上传完成',queueData);
                }
            });

            $('#btn1').click(function(){
                up.stop();
            });
            $('#btn2').click(function(){
                up.upload('*');
            });
            $('#btn3').click(function(){
                up.cancel('*');
            });
            $('#btn4').click(function(){
                //up.disable();
                up.Huploadify('disable');
            });
            $('#btn5').click(function(){
                up.ennable();
            });
            $('#btn6').click(function(){
                up.destroy();
            });
        });
    });

    // function calSHA1(file) {
    //     //使用FileReader对象对文件的二进制进行sha-1的hash计算
    //     return new Promise(function (resolve, reject) {
    //         var reader = new FileReader();
    //         //当整个文件加载完成后，开始进行hash值的计算操作
    //         reader.readAsBinaryString(file);
    //         reader.onload = function (e) {
    //             var binary = e.target.result;
    //             resolve(CryptoJS.SHA1(CryptoJS.enc.Latin1.parse(binary)).toString());
    //             // sha1_hash = CryptoJS.SHA1(CryptoJS.enc.Latin1.parse(binary)).toString();
    //         };
    //     });
    // }

</script>

<div class="layui-fluid">
    <div class="layui-card" style="min-height: 400px;">
        <div class="layui-card">
            <div class="layui-card-header">
                <button class="layui-btn layui-btn-normal" id="btn2">上传</button>
                <button class="layui-btn layui-btn-warm" id="btn1">暂停</button>
                <button class="layui-btn layui-btn-danger" id="btn3">取消</button>
            </div>
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-card" lay-allowclose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this">正在上传</li>
                        <li>上传完成</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 150px;">
                        <div class="layui-tab-item layui-show">
                            <div id="upload">

                            </div>
                        </div>
                        <div class="layui-tab-item">上传完成队列</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
